body {
  background-color: #444;
  color: #fff;
  text-align: center;
  font: 1em sans-serif;
  font-weight: 300;
  font-size: 1.4rem;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(151, 144, 159, 1) 49%,
    rgba(0, 123, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1,
h2 {
  font-weight: 300;
}
